.table-state-container{
    width: 90%;
    margin: 0 auto 150px auto;
    background-color: #F0F0F0;
    padding-top: 15px;
    padding-bottom: 55px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.dashboard-map-svg__main-container{
    position: relative;
}

.map-legend__main-container{
    position: absolute;
    bottom: 5%;
    left: 7%;
    background-color: #FFC300;
    border-radius: 10px;
    color: black;
    text-align: center;
}

.map-legend-main-container__main-header{
    margin: 5% 5% 2% 5%;
    padding: 0;
}

.dashboard-main-container__loader-container{
    border: 1px solid red;
}